@model NewFoodNutrients.ViewModels.PlateViewModel
@{
    ViewBag.Title = "Create";
}
<form>
    <div class="container">
        <div class="row" style="text-align:center">
            <h1>Create a plate</h1>
        </div>
        <div class="row" style="text-align: center">
            <p>Start by selecting types of food to include in the plate</p>
        </div>
        <div class="row" style="padding-left: 20px">
            <div class=".col-md-2">
                <div style="width: 190px; display: inline-block; margin: 10px;">
                    <a href="@Url.Action("Index", "Home")">
                        <img style="width: 190px; height: 145px;" src="~/App/img/protein.jpg" alt="Proteins">
                    </a>
                    <h4 style="text-align: center">Lean Meats</h4>
                </div>
                <div style="width: 190px; display: inline-block; margin: 10px;">
                    <a href="@Url.Action("Index", "Home")">
                        <img style="width: 190px; height: 145px;" src="~/App/img/Vegetables-Legums.jpg" alt="Vegetables">
                    </a>
                    <h4 style="text-align: center">Vegetable and Legums</h4>
                </div>
                <div style="width: 190px; display: inline-block; margin: 10px;">
                    <a href="@Url.Action("Index", "Home")">
                        <img style="width: 190px; height: 145px;" src="~/App/img/Grains.jpg" alt="Grains">
                    </a>
                    <h4 style="text-align: center">Grains</h4>
                </div>
                <div style="width: 190px; display: inline-block; margin: 10px;">
                    <a href="@Url.Action("Index", "Home")">
                        <img style="width: 190px; height: 145px;" src="~/App/img/Dairy.jpg" alt="Milk and Dairy">
                    </a>
                    <h4 style="text-align: center">Milk and Dairy</h4>
                </div>
                <div style="width: 190px; display: inline-block; margin: 10px;">
                    <a href="@Url.Action("Index", "Home")">
                        <img style="width: 190px; height: 145px;" src="~/App/img/Fruits.jpeg" alt="Fruits">
                    </a>
                    <h4 style="text-align: center">Fruits</h4>
                </div>
            </div>
        </div>
    </div>
</form>

